
*{
  background-color: #54a787;
  font-family: "Poppins", sans-serif;  

}
.moun{
  text-align: center;
  margin-top: 200px;
  margin: auto;
  width: 300px;
  text-align: justify;
}
.dis{
  width: 100%;
  min-width: 540;
}